html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "poppinsregular";
  src: url(/fonts/poppins-regular-webfont.woff2?fa7f7755cbf97e3cb8f2485ac390953f) format("woff2"), url(/fonts/poppins-regular-webfont.woff?28ff897eb8cd3e585cf16bb82c089c95) format("woff");
  font-weight: normal;
  font-style: normal;
}

.saloon {
  background-color: #03B0FC;
}

.beauty {
  background-color: #8F24A7;
}

.hair {
  background-color: #FC5718;
}

.spa {
  background-color: #860E4B;
}

.massage {
  background-color: #8F24A7;
}

.other {
  background-color: #1FC365;
}

.place {
  background-color: #212122;
}

.destination {
  background-color: #4284FC;
}

.white {
  background-color: white;
}

.seto {
  color: white;
}

.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #46629e;
}

.google {
  background-color: #ec5a50;
}

.wsm {
  width: 100px;
}

.wmd {
  width: 300px;
}

.wlg {
  width: 500px;
}

.wxl {
  width: 700px;
}

/* The ribbon */

.ribbon {
  width: 46px;
  height: 53px;
  background-color: #FE6D6D;
  position: absolute;
}

.ribbon:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -47px;
  border-left: 20px solid #FE6D6D;
  border-right: 27px solid #FE6D6D;
  border-bottom: 50px solid transparent;
}

.circle {
  width: 50px;
  height: 50px;
  border: 1px solid #4284FC;
  border-radius: 50px;
  background: #4284FC;
  margin-top: -30px;
  z-index: 1;
}

a:hover {
  background-color: transparent !important;
  color: #03B0FC !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

a i {
  color: white;
}

.blue-btn {
  background-color: #407DEE;
  color: #fff !important;
  border-radius: 15px;
}

.blue-btn:hover {
  background-color: black;
  color: #4284fc;
  transition: all 0.3s ease;
}

.preview-btn {
  background: #F5AF02;
  color: black;
  padding: 5px 10px;
  border: 0px;
}

.preview-btn:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

.wizard-btn {
  height: 40px;
  width: 150px;
  letter-spacing: 1.3px;
  align-items: center;
  background: #e4bd37;
  border: 0px;
  border-radius: 27px;
  color: #fff;
}

.black-btn {
  background-color: #212122;
  color: #fff !important;
  border-radius: 0px;
}

.black-btn:hover {
  background-color: black;
  color: #4284fc;
  transition: all 0.3s ease;
}

.readmore-btn {
  background-color: transparent;
  color: black !important;
  border-radius: 0px;
}

.readmore-btn:hover {
  background-color: black;
  color: #4284fc;
  transition: all 0.3s ease;
}

.readmore-btn:hover {
  border: 1px solid #03B0FC;
}

.addlistingbtn:hover {
  background-color: transparent !important;
  color: #03B0FC !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.addlistingbtn i {
  color: white;
}

.addlistingbtn:hover {
  border: 1px solid #03B0FC;
}

.suggestionbtn {
  cursor: pointer;
}

.suggestionbtn:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.suggestionbtn i {
  color: white;
}

.suggestionbtn:hover {
  border: 0px;
}

.viewdetail-btn:hover {
  background-color: #212122 !important;
  color: #f5af02 !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.wizard-btn:hover {
  background-color: #c9a630 !important;
  color: white !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.search-viewdetail {
  padding: 13px 20px 8px 20px;
  background-color: #f1f3f6;
  border: 0px !important;
}

.search-icon {
  padding: 7px 20px 7px 20px;
  background-color: #f1f3f6;
  border: 0px !important;
  font-size: 20px;
}

.closednow-btn {
  background-color: #FE6D6D;
  padding: 5px;
  width: 90px;
  color: white;
  font-size: small;
}

.claimitnow-btn {
  margin-top: -30px;
  margin-right: 18px;
  background: #F1AD03;
  padding: 10px 25px 10px 25px;
  border: 0px;
  font-weight: bold;
}

.claimitnow-btn:hover {
  background-color: transparent !important;
  color: #EEAA03 !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.claimitnow-btn i {
  color: white;
}

.mailchimp-btn:hover {
  background-color: #212122 !important;
  color: #F5AF02 !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mailchimp-btn i {
  color: white;
}

body {
  font-family: "poppinsregular";
}

.videobg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.nobg {
  background: transparent;
  color: #fff;
  caret-color: red;
}

.nobg::-webkit-input-placeholder {
  color: #d6d6d6;
  font-size: 13px;
}

.nobg::-moz-placeholder {
  color: #d6d6d6;
  font-size: 13px;
}

.nobg:-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 13px;
}

.nobg::-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 13px;
}

.nobg::placeholder {
  color: #d6d6d6;
  font-size: 13px;
}

.process-icon {
  font-size: 30px;
  color: #ec155b;
}

.right-35 {
  right: 35px;
}

.process-description {
  color: #5f727f;
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
}

.process-heading {
  color: #ec155b !important;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  transition: all 0.3s;
  font-weight: 700;
}

.dropdown-menu-line {
  top: 63px;
  position: absolute;
}

.process-hov {
  transition: transform 1s;
}

.process-hov:hover {
  background-color: #f4f7f6;
  border-color: #5f727f;
  transform: scale(1.1);
  cursor: pointer;
}

.popular-img-overlay {
  opacity: 0;
  transition: all 0.5s ease-in;
  margin-top: -46px;
}

.img-border {
  border-bottom: 5px solid #EC155B;
}

.popular-img:hover .popular-img-overlay {
  opacity: 1;
  background: rgba(236, 21, 91, 0.87);
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 32%;
  margin-top: -80px;
  transform: translateY(0%);
  padding: 17px;
}

.popular-img:hover .img-border {
  transition: 0.2s ease;
  border-bottom: 0px;
}

.popular-border-bottom {
  border-bottom: 5px solid black;
}

.popular-service-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.popular-service-price {
  font-style: italic;
  font-size: 13px;
}

.popular-view {
  font-weight: 600;
  margin-top: -15px;
}

.popular-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 245px;
}

.ps {
  text-align: center;
  color: #ec155b;
  font-size: 32px;
  font-family: cursive;
}

.border-bottom-1 {
  border-bottom: 2px solid #ec155b;
  width: 51px;
  margin: 0 auto;
}

.partner-img {
  max-height: 110px;
  max-width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.slider-icon-left {
  position: absolute;
  top: 44%;
  font-size: 30px;
  left: -5px;
  color: #ec155b;
}

.slider-icon-right {
  position: absolute;
  top: 44%;
  font-size: 30px;
  right: -5px;
  color: #ec155b;
}

.top-15 {
  top: 15%;
}

.popular1-img {
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  width: 260px;
  height: 230px;
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular1-p-color {
  color: #5f727f;
}

.popular-service-1 {
  font-size: 30px;
}

.popular1-heading {
  font-size: 20px;
  color: #46485c;
  font-weight: 700;
}

.heading-wrapper {
  width: 70%;
}

input[type=search] {
  width: 175px !important;
  overflow: visible;
  color: #fff !important;
}

input[type=search]:focus {
  background-color: transparent;
  box-shadow: none;
}

.searchbtn {
  background: transparent;
  border: none;
}

.searchbtn i {
  color: #fff;
}

.btnradius {
  border-radius: 50px;
}

.smallfont {
  font-size: 13px;
}

.mediumfont {
  font-size: 15px;
}

.bigfont {
  font-size: 20px;
}

ul li a {
  color: #fff;
}

.dropdown-menu {
  background-color: #212122;
}

.line1 {
  position: relative;
  opacity: 0.4;
  border: 1px solid #fff;
  margin-top: -6px;
}

.headerhome,
.heading {
  background: rgba(30, 31, 45, 0.805);
}

.overlayvid {
  background-color: rgba(30, 31, 45, 0.705);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  height: 1067px;
}

.dotted-border {
  position: relative;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  padding: 17px;
  padding-top: 26px;
}

.dotted-border i {
  border-radius: 50px;
  padding: 10px;
  font-size: 25px;
}

.xs-font {
  font-size: 10px;
}

.sm-font {
  font-size: 13px;
}

.xl-font {
  font-size: 25px;
}

.md-font {
  font-size: 15px;
}

.lg-font {
  font-size: 20px;
}

.padding100 {
  padding-left: inherit;
  padding-right: inherit;
}

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}

.form-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.input-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form1 {
  width: 405px;
  line-height: 3;
}

.inputicon {
  float: right;
  margin-top: -30px;
  margin-right: 26px;
  font-size: 19px;
}

.inputpadding {
  padding: 20px;
}

.separator {
  float: right;
  border-right: 1px solid #e9ebee;
}

.pcolor {
  color: #5a5b5c;
}

.noradius {
  border-radius: 0px;
}

.noborder {
  border: 0px;
}

.blue1 {
  color: #03B0FC;
}

.white1 {
  color: #fff;
}

.nospace {
  margin: 0px;
  padding: 0px;
}

.ellipsis {
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listing-color {
  color: #818181;
}

.footerimg1 {
  width: 50%;
}

.footerimg2 {
  max-width: 30%;
  height: auto;
  vertical-align: middle;
}

.footerbg {
  background-image: url(https://i2.wp.com/listgo.wiloke.com/wp-content/uploads/2018/04/footer_bg.jpg?fit=1200%2C666&ssl=1);
}

.socialmedia {
  margin-top: -21px;
  text-align: end;
  margin-right: 54px;
}

.space {
  padding: 6px;
}

.colorz {
  color: #ffffff61 !important;
}

.tiltedimg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.slider-icon {
  background-color: black;
}

.gotobookstore {
  width: 100%;
  height: 262px;
  background-color: #4284FC;
  color: #fff;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

.border-2 {
  border: 2px solid #eee;
}

/*dropdown on hover*/

.dropdown:hover .dropdown-menu {
  display: block;
  transition-delay: 1s;
  z-index: 999;
}

.bg {
  background: url("/images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-w-60 {
  width: 43%;
}

.hov-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.hov-overlay:hover {
  opacity: 0.8;
  position: absolute;
  text-align: center;
  color: white;
}

.hovntn2:focus {
  background: #03B0FC;
  color: white;
}

.backgroundsearch {
  background: url("/images/searchbg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.p-x-300 {
  padding-left: 300px;
  padding-right: 300px;
}

.path {
  background: rgba(0, 0, 0, 0.3);
}

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

.black-color {
  color: black !important;
}

.nav-link.active {
  background-color: white !important;
  height: 55px;
  color: #03B0FC !important;
}

.h70 {
  height: 70px;
}

.opennow {
  border: 1px solid #ddd;
  background-color: #f8f8f8 !important;
  transition: all 0.3s ease;
  display: block;
  padding: 11px 10px 12px;
  text-align: center;
  cursor: pointer;
}

.selectcost {
  height: 48px;
}

.selectradius {
  width: 120px;
  display: inline-block;
}

.w-20 {
  width: 14% !important;
}

.search-line {
  border-left: 2px solid orange !important;
  margin-right: 15px;
}

.indicatorline {
  border-left: 2px solid black;
}

.carousel-control-prev,
.carousel-control-next {
  position: static !important;
  display: inline-block;
}

.mailchimp-input {
  height: 55px;
  border: 1px solid #b4b4b4;
  border-bottom: none !important;
}

.mailchimp-btn {
  height: 55px;
  background: #F5AF02;
  border: 1px solid #F5AF02;
  border-top: none !important;
}

.slider-icon1-prev {
  position: absolute !important;
  top: 370px;
  left: -80px;
}

.slider-icon1-nxt {
  position: absolute !important;
  top: 370px;
  right: -80px;
}

.slider-icon1 {
  color: black;
  border: 1px solid black;
  padding: 6px 12px 5px 12px;
  opacity: 1;
  font-size: 20px;
}

.overlay1 {
  background-color: #F5AF02;
  padding: 9px;
  margin-top: -7px;
}

.overlay2 {
  background-color: #FE6D6D;
  padding: 5px;
  width: 90px;
}

.overlay3 {
  background-color: #D26CFD;
  padding: 5px;
  margin-top: -14px;
  width: 145px;
}

.overlay4 {
  height: 41px;
  margin-top: -52px;
  border: 2px solid white;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #f5af02;
  cursor: pointer;
  border-radius: 50%;
}

.range-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #f5af02;
  cursor: pointer;
  border-radius: 50%;
}

.profilepage {
  background: url("/images/profilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profilepage {
  height: 470px;
}

.trumpspa {
  margin-top: -100px;
}

.box-shadow {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
}

.separator1 {
  border-right: 1px solid #e9ebee;
}

.rating-color {
  color: #F5AF02;
}

.share-color {
  color: #03B0FC;
}

.heart-color {
  color: #CE616D;
}

.nav-link.active {
  background-color: transparent !important;
  height: 45px;
  color: #F5AF02 !important;
  border: 0px;
  border-bottom: 2px solid #F5AF02 !important;
}

.gallery-img1 {
  height: 550px;
  width: 469px;
}

.gallery-img2 {
  height: 178px;
  width: 100%;
}

.gallery-img3 {
  height: 229px;
  width: 100%;
}

.claimitnow {
  background: #212121;
}

.arrow1 {
  float: right;
  margin-right: 178px;
}

.contact-input {
  border-radius: 0px;
  height: 45px;
}

.contact-textarea {
  height: 100px;
  border-radius: 0px;
}

.bg-darkyellow {
  background-color: #f5af02;
}

.black-circle {
  position: relative;
  top: 39px;
}

.icon-pos {
  position: absolute;
  font-size: 90px;
  left: 2px;
  top: 40px;
  color: #f5af02;
}

.circle-pos {
  margin-left: 75px;
  position: relative;
  top: 45px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: black;
  margin-top: -30px;
  z-index: 1;
  padding: 19px;
}

.services-down-section {
  position: relative;
  top: 99px;
}

.profileimg1 {
  height: 100px;
  width: 100px;
}

.profile-card {
  background: #F4F6F8;
}

.autocomplete-input {
  padding: 8px !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
  background-color: transparent !important;
  background-position: 260px !important;
  border-radius: 5px !important;
}

.autocomplete-result {
  cursor: pointer !important;
  background-position: 260px !important;
  padding: 10px !important;
  background: none !important;
  line-height: 1.3em !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.autocomplete-result-list {
  color: white !important;
  background: black !important;
}

.dropdown-toggle::after {
  display: none;
}

.services-down-section {
  position: relative;
  top: 99px;
}

.bg-contact-section {
  background: url(/images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  top: -16px;
}

.bg-service-section {
  background: url(/images/Railway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  top: -16px;
}

.arrowz {
  position: absolute;
  margin-top: -50px;
  /* float: right; */
  left: 85%;
}

.custom-box {
  border: 2px solid #9485853d;
  width: 100%;
  height: 45px;
}

.noradius1 {
  border-radius: 0px;
  background: #f5af02;
}

.inputs {
  padding: 10px 30px;
}

.uploadfile-text {
  position: absolute;
  top: 6px;
  left: 39px;
}

.padding-arrow {
  padding: 43px;
}

.len {
  width: 95%;
  width: 95%;
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type=file] {
  display: block;
  opacity: 0 !important;
  width: 100%;
  z-index: 10;
}

.wrap {
  position: relative;
  margin: 174px;
  top: -106px;
  margin-bottom: -120px;
}

.wrappers {
  /* margin-top: 59px !important; */
  /* margin: 220px; */
  border: 2px solid background-color white;
  border: 26x solid black !important;
  background: pink;
  /* margin: 220px; */
  border: 2px solid padding 266px;
  background-color: white;
  padding-bottom: 90px;
  padding-top: 70px;
}

.test {
  /* display: none; */
  position: absolute;
  right: 40px;
  top: 0;
  max-height: calc(100% - 20px);
  border: 6px solid #dfdfdf;
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% - 55px);
  transition: all 0.3s ease;
}

.test2 {
  position: absolute !important;
  top: 587px;
  left: 937px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lab {
  position: relative;
  top: 5px;
}

.lab:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("/images/upload.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon {
  border: 2px solid #9485853d;
  /* width: 100%; */
  height: 47px;
  padding: 16px;
  background: white;
  color: white;
  min-width: 50px;
  /* border: 0.5px solid black; */
  text-align: center;
}

/* Style the input fields */

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.lab:hover {
  cursor: pointer;
  color: orange !important;
}

/* icon in the form */

.contact-input-box {
  position: relative;
  left: 50px;
  width: 89%;
  padding: 10px;
  outline: none;
  bottom: 46px;
}

.update-text-down {
  position: relative;
  top: 20px;
}

.switchContent {
  display: none;
}

.form-wizard {
  background: url("/images/wizard-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wizard-head {
  background: #E4BD37;
  width: 197px;
  padding: 10px 17px;
}

.wizard-form {
  width: 400px;
  margin: 0 auto;
  box-shadow: 1px 0px 11px -4px rgba(0, 0, 0, 0.75);
  border: 1px solid white;
}

.wizard-input {
  background: #81D5DF;
  width: 300px !important;
}

.wizard-label {
  width: 115px;
}

.text-area1 {
  width: 100%;
  height: 145px;
}

.bg-member-section {
  background: url(/images/memberbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  top: -16px;
}

.memberlist1 {
  background-color: #f4f6f8;
  border: 1px solid #e9ebee;
  margin-bottom: 30px;
}

#profileImage {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 97px;
  margin: 24px 0;
  margin-left: 10px;
}

.login1 {
  width: 245px;
  text-align: right;
  font-size: 18px;
}

.signup1 {
  width: 252px;
  font-size: 18px;
}

.business-address {
  color: #495057 !important;
  background-color: #fff !important;
  padding: 0px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.servicelist {
  background: url("/images/profilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
}

.contactInformation {
  background: url("/images/contactinfobg.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.border-left {
  border-left: 2px solid #828488 !important;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 120px;
}

.contact-label-home {
  margin-left: 67px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.contact-input-home {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-textarea-home {
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-btn-home {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: white;
  font-size: 19px;
}

.contact-icon {
  font-size: 30px;
  margin-right: 48px;
  padding-top: 13px;
  color: #EC155B;
}

.contact-text {
  text-transform: uppercase;
  color: #EC155B;
  font-weight: 800;
  position: absolute;
  text-align: left !important;
  padding-left: 43px;
}

.contact-detail {
  position: absolute;
  left: 27%;
  top: 30px;
  color: white;
}

.left-54 {
  left: 54%;
}

.cont-overlay {
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
}

.btn-sonar {
  border-radius: 32px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  display: inline-block;
  color: #fff;
  outline: none;
  position: relative;
}

.btn-sonar::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.btn-sonar:hover::before {
  -webkit-animation: sonar-effect 1s ease-in-out 0.1s;
          animation: sonar-effect 1s ease-in-out 0.1s;
}

@-webkit-keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 1px #03B0FC, 0 0 1px 1px #03B0FC, 0 0 0 1px #03B0FC;
  }

  100% {
    box-shadow: 0 0 0 1px #fff, 0 0 1px 1px #fff, 0 0 0 1px #fff;
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 1px #03B0FC, 0 0 1px 1px #03B0FC, 0 0 0 1px #03B0FC;
  }

  100% {
    box-shadow: 0 0 0 1px #fff, 0 0 1px 1px #fff, 0 0 0 1px #fff;
    transform: scale(1.5);
    opacity: 0;
  }
}

.social-icon-facebook {
  background-color: #325d94;
  width: 40px;
  line-height: 40px;
}

.social-icon-insta {
  background-color: #c53081;
  width: 40px;
  line-height: 40px;
}

.social-icon-youtube {
  background-color: #cd201f;
  width: 40px;
  line-height: 40px;
}

.social-icon-google {
  background-color: #dc4a38;
  width: 40px;
  line-height: 40px;
}

.social-icon-twitter {
  background-color: #32cdfd;
  width: 40px;
  line-height: 40px;
}

/*Media Query*/

@media only screen and (max-width: 365px) {
  .overlay2,
  .overlay3,
  .overlay4 {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .formsearch {
    width: auto !important;
    padding: 28px;
    margin-right: 0px;
    margin-top: 10px !important;
  }

  .p-xs-10 {
    padding-bottom: 10px !important;
  }

  .h-220 {
    height: 220px;
  }

  .card-w-60 {
    width: 97%;
  }

  .wmd {
    width: auto;
  }

  .slider-icon1-nxt {
    right: -26px;
  }

  .slider-icon1-prev {
    left: -26px;
  }

  .card-top {
    margin: 0 auto;
    margin-top: 10px;
  }

  .card-bottom {
    text-align: center;
    margin-top: 10px;
  }

  .img-sm {
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  .tx-sm {
    text-align: center;
  }

  .login1,
  .signup1 {
    width: auto;
  }

  .separator1 {
    border: 0px;
  }

  .memberlist {
    margin-left: 0px;
    margin-right: 0px;
  }

  .dotted-border {
    padding: 0px;
    padding-top: 3px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .h-220 {
    height: 320px;
  }

  .card-w-60 {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .h-220 {
    height: auto;
  }

  .card-w-60 {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .slider-icon1-nxt {
    right: -100px;
  }

  .slider-icon1-prev {
    left: -100px;
  }

  .overlay2 {
    margin-top: 70px;
  }

  .overlay4 {
    margin-right: 0px;
  }
}

